/* style.css - Documentação atualizada */

/* ------------------------------- */
/* Reset e Configurações Básicas */
/* ------------------------------- */

/* Reset básico para remover as margens, paddings e definir box-sizing para todos os elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos globais para body e html, incluindo fonte padrão e cor de fundo */
body, html {
    font-family: 'Arial', sans-serif;
    background: #f4f4f4;
    overflow-x: hidden; /* Previne rolagem horizontal */
    height: 100%; /* Garante que ocupem 100% da altura da tela */
    display: flex;
    flex-direction: column;
}

/* Garante que o container principal ocupe a altura completa */
#root, #app {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* ------------------------------- */
/* Cabeçalho */
/* ------------------------------- */

/* Estilos para o cabeçalho principal da página */
.main-header {
    display: flex;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    justify-content: space-between;
    align-items: center;
    background-color: #b6e9be;
    padding: 15px 20px;
    width: 100%;
}

/* Estilos para a área esquerda do cabeçalho */
.header-left {
    display: flex;
    align-items: center;
}

/* Estilos para a área direita do cabeçalho */
.header-right {
    display: flex;
    align-items: center;
}

/* Estilos para o título principal dentro do cabeçalho */
.main-title {
    color: #0f5f16;
    font-size: 40px;
    text-decoration: none; /* Remove underline */
    font-weight:bold;
}

/* Estilos para os links no cabeçalho */
.header-link {
    color: #0f941a;
    font-size: 18px;
    margin-left: 20px;
    text-decoration: none; /* Remove underline */
    transition: color 0.3s ease; /* Transição suave para a cor */
    font-weight:bold;
    font-style: italic;
}

/* Hover effect para os links no cabeçalho */
.header-link:hover {
    color: #007bff; /* Cor ao passar o mouse */
}

/* ------------------------------- */
/* Conteúdo Principal e Abas */
/* ------------------------------- */

/* Estilos para o container principal que engloba o conteúdo da página */
.main-content {
    flex: 1;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

/* Estilos para o conteúdo dentro das abas, incluindo bordas, sombra e fundo */
.tabs-content {
    flex: 1;
    border: 3px solid #b6e9be;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    padding: 20px;
    overflow-y: auto; /* Adiciona rolagem vertical se o conteúdo for maior que a altura disponível */
}

/* Estilos para o conteúdo dentro das páginas, incluindo bordas, sombra e fundo */
.pages-content {
    flex: 1;
    border: 1px solid #b6e9be;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin: 2px;
    padding: 10px;
    overflow-y: auto; /* Adiciona rolagem vertical se o conteúdo for maior que a altura disponível */
}

/* Estilos específicos para a impressão do conteúdo das abas */
@media print {
    .tabs-content {
        box-shadow: none;
        page-break-after: always;
    }
}

/* ------------------------------- */
/* Estilo para o Título "How to Use" */
/* ------------------------------- */
.how-to-use {
    font-size: 30px; /* Define o tamanho da fonte para 25px */
    text-align: center; /* Centraliza o texto horizontalmente */
    font-weight: bold; /* Adiciona negrito ao texto */
    margin: 20px 0; /* Adiciona margens superior e inferior */
    color: #0f941a; /* Define a cor do texto */
}


/* ------------------------------- */
/* Estilo dos containers de conteudo das páginas */
/* ------------------------------- */
/* Novo estilo para containers */
.content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
}

.text-container {
    flex: 3;
    padding-right: 20px;
    overflow-y: auto;
}

.list-container {
    flex: 1;
    overflow-y: auto;
}

/* ------------------------------- */
/* Sobre e Conteúdo Relacionado */
/* ------------------------------- */

/* Estilos para o container da página Sobre */
.about-container {
    padding: 20px;
    margin: 10px;
    text-align: center; /* Centraliza o título e conteúdo */
}

.about-biopexa-title {
    font-size: 40px;
    padding: 2px;
    margin: 1px;
    text-align: center; /* Centraliza o título e conteúdo */
}


.about-biopexa-subtitle {
    padding: 1px;
    margin: 1px;
    text-align: center; /* Centraliza o título e conteúdo */
}

.about-content-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1;
}

.about-text-container {
    flex: 3;
    padding-right: 20px;
    overflow-y: auto; /* Adiciona rolagem vertical se necessário */
}

.about-content {
    text-align: center;
    margin: 10px;
    overflow-wrap: break-word;
}

/* ------------------------------- */
/* Estilização das Abas */
/* ------------------------------- */

/* Estilos para o container das abas */
.main-tabs {
    display: flex;
    justify-content: flex-start; /* Alinha as abas à esquerda */
    background: #b6e9be; /* Cor de fundo padrão */
    padding: 10px 20px; /* Espaçamento interno */
    border: 0px; /* Remove borda */
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

/* Estilos para cada aba individual */
.tab {
    background: #86f196 !important; /* Cor de fundo padrão */
    color: #0f5f16 !important; /* Cor do texto padrão */
    font-size: 30px; /* Tamanho da fonte */
    font-weight: bold; /* Negrito */
    padding: 10px 20px; /* Espaçamento interno */
    border: 1px solid #0f941a; /* Borda */
    border-radius: 8px; /* Bordas arredondadas */
    margin-right: 10px; /* Margem à direita */
    cursor: pointer; /* Cursor de ponteiro */
    transition: background 0.3s ease, color 0.3s ease; /* Transição suave para cor e fundo */
}

/* Estilos para a aba selecionada */
.tab--selected {
    background: #0f941a !important; /* Cor de fundo para a aba selecionada */
    color: #fff !important; /* Cor do texto para a aba selecionada */
    border-bottom: none; /* Remove a borda inferior da aba selecionada */
}

/* Hover effect para as abas não selecionadas */
.tab:hover:not(.tab--selected) {
    background: #0f941a !important; /* Cor ao passar o mouse */
    color: #fff !important; /* Cor do texto ao passar o mouse */
}

/* Estilos para as abas não selecionadas */
.tab--not-selected {
    background: #b6e9be !important; /* Cor de fundo padrão */
    color: #0f941a !important; /* Cor do texto padrão */
}

/* ------------------------------- */
/* Conteúdo da lista about*/
/* ------------------------------- */
.scrollable-list-container {
    flex: 1;
    max-height: 32rem; /* Ajusta a altura máxima do container */
    overflow-y: auto; /* Adiciona rolagem vertical */
}

.gradient-list {
    counter-reset: gradient-counter;
    list-style: none;
    margin: 1.75rem 0;
    padding-left: 1rem;
}

.gradient-list > li {
    background: white;
    border-radius: 0 0.5rem 0.5rem 0.5rem;
    box-shadow: 0.25rem 0.25rem 0.6rem rgba(195, 223, 194, 0.342), 0 0.5rem 1.125rem rgba(7, 245, 67, 0.158);
    counter-increment: gradient-counter;
    margin-top: 1rem;
    min-height: 3rem;
    padding: 1rem 1rem 1rem 3rem;
    position: relative;
}

.gradient-list > li::before,
.gradient-list > li::after {
    background: linear-gradient(135deg, #83e4e2 10%, #1cf100 100%);
    border-radius: 1rem 1rem 0 1rem;
    content: '';
    height: 3rem;
    left: -1rem;
    overflow: hidden;
    position: absolute;
    top: -1rem;
    width: 3rem;
}

.gradient-list > li::before {
    align-items: flex-end;
    box-shadow: 0.25rem 0.25rem 0.6rem rgba(195, 223, 194, 0.342), 0 0.5rem 1.125rem rgba(7, 245, 67, 0.158);
    content:'';
    color: #1d1f20;
    display: flex;
    font: 900 1.5em/1 'Montserrat';
    justify-content: flex-end;
    padding: 0.125em 0.25em;
    z-index: 1;
}

@for $i from 1 through 5 {
    .gradient-list > li:nth-child(10n+#{$i}):before {
        background: linear-gradient(135deg, rgba(162,237,86,$i * 0.2) 0%, rgba(253,220,50,$i * 0.2) 100%);
    }
}

@for $i from 6 through 10 {
    .gradient-list > li:nth-child(10n+#{$i}):before {
        background: linear-gradient(135deg, rgba(162,237,86,1 - (($i - 5) * 0.2)) 0%, rgba(253,220,50,1 - (($i - 5) * 0.2)) 100%);
    }
}

.gradient-list > li + li {
    margin-top: 2rem;
}

/* ------------------------------- */
/* Passo a Passo dos Cards */
/* ------------------------------- */

/* Container que mantém todos os cards alinhados centralmente */
.step-cards-container {
    display: flex; /* Define o layout dos elementos internos como flexível */
    justify-content: center; /* Centraliza os cards horizontalmente */
    align-items: center; /* Alinha os cards verticalmente no centro */
    flex-wrap: wrap; /* Permite que os cards ocupem várias linhas se necessário */
    max-width: 1200px; /* Define a largura máxima do container */
    margin: 40px auto; /* Adiciona margens verticais e centraliza horizontalmente */
}

/* Estilo para cada card individual */
.step-card {
    position: relative; /* Define o posicionamento relativo para uso interno */
    min-width: 300px; /* Define a largura mínima do card */
    height: 300px; /* Define a altura do card */
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
                inset -5px -5px 15px rgba(255, 255, 255, 0.1),
                5px 5px 15px rgba(128, 224, 136, 0.3), -5px -5px 15px rgba(8, 197, 33, 0.37); /* Define sombras */
    border-radius: 15px; /* Define cantos arredondados */
    margin: 10px; /* Adiciona margem ao redor dos cards */
    background: #a1f082; /* Define a cor de fundo do card */
}

/* Estilo para a caixa interna do card */
.step-card .box {
    position: absolute; /* Posicionamento absoluto dentro do card */
    top: 20px; /* Espaçamento do topo */
    left: 20px; /* Espaçamento da esquerda */
    right: 20px; /* Espaçamento da direita */
    bottom: 20px; /* Espaçamento da base */
    background: #62a562; /* Cor de fundo da caixa */
    border-radius: 15px; /* Cantos arredondados */
    display: flex; /* Define o layout dos elementos internos como flexível */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
    overflow: hidden; /* Esconde conteúdo que ultrapassar a caixa */
}

/* Estilo para o pseudo-elemento antes da caixa */
.step-card .box:before {
    content: ""; /* Adiciona um conteúdo vazio */
    position: absolute; /* Posicionamento absoluto dentro da caixa */
    top: 0; /* Posiciona no topo */
    left: 0; /* Posiciona na esquerda */
    width: 50%; /* Define largura */
    height: 100%; /* Define altura */
    background: rgba(255, 255, 255, 0.03); /* Define cor de fundo com transparência */
}

/* Estilo para o conteúdo do card */
.step-card .box .content {
    padding: 20px; /* Adiciona padding ao redor do conteúdo */
    text-align: center; /* Centraliza o texto */
    display: flex; /* Define o layout dos elementos internos como flexível */
    flex-direction: column; /* Define a direção do layout flexível como coluna */
    justify-content: flex-end; /* Alinha o conteúdo na parte inferior */
    width: 100%; /* Largura total do container */
    height: 100%; /* Altura total do container */
}

/* Estilo para a caixa verde */
.step-card .box .content .step-info {
    background: #66bb6a; /* Cor de fundo da caixa verde */
    padding: 20px; /* Adiciona padding ao redor do conteúdo */
    border-radius: 15px; /* Cantos arredondados */
    text-align: center; /* Centraliza o texto */
    width: 100%; /* Largura total do container */
    margin-top: auto; /* Empurra o conteúdo para a parte inferior */
}

/* Estilo para o número do step */
.step-card .box .content .step-number {
    font-size: 60px; /* Define o tamanho da fonte */
    text-align: center;
    color: rgba(41, 107, 15, 0.623); /* Define cor com transparência */
    margin: 0; /* Remove margens */
    padding-left: 10px; /* Adiciona padding à esquerda */
}

/* Estilo para o título do card (h3) */
.step-card .box .content .step-info h3 {
    font-size: 28px; /* Define o tamanho da fonte */
    color: #fff; /* Define a cor do texto */
    margin-bottom: 15px; /* Adiciona margem inferior */
}

/* Estilo para o parágrafo do card (p) */
.step-card .box .content .step-info p {
    font-size: 16px; /* Define o tamanho da fonte */
    font-weight: 300; /* Define a espessura da fonte */
    color: rgba(255, 255, 255, 0.9); /* Define a cor do texto com transparência */
}

/* ------------------------------- */
/* Listas e Cards */
/* ------------------------------- */

/* Container para listas, com display flex para alinhar os itens horizontalmente */
.list-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

/* Estilos para os cards de listas, incluindo fundo, bordas e sombra */
.list-card {
    background-color: #fff;
    border: 1px solid #26e20db7;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Título para os cards de listas, centralizado */
.list-title {
    text-align: center;
    margin-bottom: 10px;
}

/* Estilos para os itens de lista dentro dos cards, incluindo a remoção de marcadores e bordas entre itens */
.list-group {
    list-style-type: none;
    padding: 0;
}

.list-group li {
    padding: 8px 0;
    border-bottom: 1px solid #eee;
}

.list-group li:last-child {
    border-bottom: none; /* Remove a borda do último item */
}

/* ------------------------------- */
/* Estilo para o container de imagens */
/* ------------------------------- */

.about-image-container {
    display: flex;
    justify-content: center; /* Centraliza o container de imagens */
    margin-top: 20px;
}

.about-image {
    width: 20%; /* Define a largura das imagens como 20% */
    margin: 0 10px; /* Adiciona espaçamento horizontal entre as imagens */
    object-fit: contain; /* Garante que as imagens se ajustem ao container sem distorção */
}

/* ------------------------------- */
/* Análise e Gráficos */
/* ------------------------------- */

/* Container para os cards de análise, com bordas, raio de borda e fundo */
.analysis-card {
    border: 1px solid #d2c0c0;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 20px;
    background-color: #0deb322f;
}

/* Título e descrição para os cards de análise, com estilos específicos para alinhamento e tamanho de fonte */
.analysis-title,
.analysis-description {
    text-align: center;
    font-size: 1.5em; /* Título */
    margin-bottom: 8px;
}

.analysis-description {
    font-size: 1em; /* Descrição */
    color: #000000;
}

/* ------------------------------- */
/* Botão de Upload */
/* ------------------------------- */

/* Estilo para o card de upload e processamento */
.upload-process-card-style {
    background-color: rgb(209, 223, 199);
    box-shadow: 2px 4px 6px rgba(148, 219, 130, 0.726);
    border-radius: 8px;
    padding: 20px;
    margin: 20px auto;
    width: fit-content;
    width: 500px;
    height: 160px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

/* Estilo para o botão de upload */
.upload-button-style {
    border: 2px dashed #007bff;
    border-radius: 5px;
    color: #007bff;
    padding: 10px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

.upload-button-style:hover {
    border-color: #6b98c8;
}

/* Estilo para o botão de processamento */
.process-button-style {
    background-color: #28a745;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.process-button-style:hover {
    background-color: #218838;
}

/* ------------------------------- */
/* Estilização do container do gráfico e menu de navegação */
/* ------------------------------- */

.graph-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px 0;
    transition: box-shadow 0.3s ease-in-out;
}

.graph-card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.card-container {
    position: relative;
    padding-top: 50px; /* Espaço para o menu de filtros */
}

/* Menu de filtros no gráfico */
.navigation-menu {
    padding: 10px;
    background-color: #0deb322f;
    border-bottom: 2px solid #ccc;
    text-align: center;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 100;
}
