/* style.css - Documentação atualizada */

/* ------------------------------- */
/* Reset e Configurações Básicas */
/* ------------------------------- */

/* Reset básico para remover as margens, paddings e definir box-sizing para todos os elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos globais para body e html, incluindo fonte padrão e cor de fundo */
body, html {
    font-family: 'Arial', sans-serif;
    background: #f4f4f4;
    overflow-x: hidden; /* Previne rolagem horizontal */
}

/* ------------------------------- */
/* Cabeçalho */
/* ------------------------------- */

/* Estilos para o cabeçalho principal da página */
.main-header {
    background-color: #0deb322f;
    color: white;
    padding: 0px;
    text-align: center;
    width: 100%;
}

/* Estilos para o título principal dentro do cabeçalho */
.main-title {
    color: #2a2a2a;
    font-size: 30px;
}

/* Estilo para texto em itálico, útil em várias partes da UI */
.italic-text {
    font-style: italic;
}

/* ------------------------------- */
/* Conteúdo Principal e Abas */
/* ------------------------------- */

/* Estilos para o container principal que engloba o conteúdo da página */
.main-content {
    max-width: 210mm;
    margin: 0 auto; /* Centraliza o container */
    width: calc(100% - 40px); /* Largura com padding */
    padding: 0 20px;
}

/* Estilos para o conteúdo dentro das abas, incluindo bordas, sombra e fundo */
.tabs-content {
    border: 3px solid #c4cbc5;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    max-width: 210mm;
    min-height: 297mm;
    margin: 20px auto;
    padding: 2mm;
}

/* Estilos específicos para a impressão do conteúdo das abas */
@media print {
    .tabs-content {
        box-shadow: none;
        page-break-after: always;
    }
}

/* ------------------------------- */
/* Sobre e Conteúdo Relacionado */
/* ------------------------------- */

/* Estilos para o container da página Sobre */
.about-container,
.about-biopexa-title {
    padding: 20px;
    margin: 10px;
    text-align: center; /* Centraliza o título e conteúdo */
}

/* Estilos para o conteúdo da página Sobre, garantindo a quebra de texto */
.about-content {
    text-align: justify;
    margin: 10px;
    overflow-wrap: break-word;
}

/* ------------------------------- */
/* Listas e Cards */
/* ------------------------------- */

/* Container para listas, com display flex para alinhar os itens horizontalmente */
.list-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

/* Estilos para os cards de listas, incluindo fundo, bordas e sombra */
.list-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Título para os cards de listas, centralizado */
.list-title {
    text-align: center;
    margin-bottom: 10px;
}

/* Estilos para os itens de lista dentro dos cards, incluindo a remoção de marcadores e bordas entre itens */
.list-group {
    list-style-type: none;
    padding: 0;
}

.list-group li {
    padding: 8px 0;
    border-bottom: 1px solid #eee;
}

.list-group li:last-child {
    border-bottom: none; /* Remove a borda do último item */
}

/* ------------------------------- */
/* Análise e Gráficos */
/* ------------------------------- */

/* Container para os cards de análise, com bordas, raio de borda e fundo */
.analysis-card {
    border: 1px solid #d2c0c0;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 20px;
    background-color: #0deb322f;
}

/* Título e descrição para os cards de análise, com estilos específicos para alinhamento e tamanho de fonte */
.analysis-title,
.analysis-description {
    text-align: center;
    font-size: 1.5em; /* Título */
    margin-bottom: 8px;
}

.analysis-description {
    font-size: 1em; /* Descrição */
    color: #000000;
}

/* ------------------------------- */
/* Botão de Upload */
/* ------------------------------- */

/* Estilos para o container do botão de upload, incluindo alinhamento e espaçamento */
#upload-data {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 20px;
}

/* Estilos para o botão dentro do container, com cores, bordas arredondadas e transição para hover */
#upload-data .button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    border: none;
    transition: background-color 0.3s ease;
}

#upload-data .button:hover {
    background-color: #0056b3;
}
