/* style.css */
/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Garante que padding e border estão dentro da largura e altura definidas */
}

body, html {
    font-family: 'Arial', sans-serif;
    background: #f4f4f4;
    overflow-x: hidden; /* Isso evitará a rolagem horizontal se houver overflow */
}

/* Cabeçalho da página */
.main-header {
    background-color: #0deb322f;
    color: white;
    padding: 0px;
    text-align: center;
    width: 100%; /* Isso garante que o header se estenda por toda a largura da tela */
    box-sizing: border-box; /* Isso inclui o padding no cálculo da largura */
}

.main-title {
    color: #2a2a2a; /* Cor da fonte */
    font-size:30px; /* Tamanho da fonte */
}

.italic-text {
    font-style: italic; /* Aplica o estilo itálico */
}


/* Conteúdo principal */
.main-content {
    max-width: 210mm; /* Ajusta para a largura do conteúdo das abas */
    margin: 0 auto; /* Centraliza horizontalmente */
    width: calc(100% - 40px); /* Subtrai o padding esquerdo e direito do container */
    padding: 0 20px; /* Isso adiciona padding para alinhar o conteúdo com o cabeçalho */
    margin: 0 auto; /* Centraliza horizontalmente */
    
}

/* Conteúdo das abas */
.tabs-content {
    border: 3px solid #c4cbc5; /* Borda verde  #4ddb59;*/
    border-radius: 8px;
    width: 100%; /* Isso garante que o conteúdo das abas preencha o .main-content */
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; /* Isso inclui o padding no cálculo da largura */
    max-width: 210mm; /* Isso limita a largura máxima */
    min-height: 297mm; /* ... */
    margin: 20px auto; /* ... */
    padding: 2mm; /* ... */
    
}

/* Estilos para impressão */
@media print {
    .tabs-content {
        box-shadow: none;
        page-break-after: always;
        
    }
}


/* Estilização da página About*/
.about-container {
    padding: 20px;
    margin: 10px;
}

.about-title {
    /* Estilos específicos para o título, se necessário */
    text-align: center;
}

.about-biopexa-title {
    text-align: center;
    margin-top: 50px;
}


.about-content {
    text-align: justify;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    overflow-wrap: break-word; /* Isso evitará que o texto ultrapasse a largura do container */
}


/* estilização das listas de features*/
/* assets/styles.css */

.list-container {
    display: flex;
    justify-content: space-around; /* Espaçamento igual entre os cartões */
    margin-top: 20px;
}

.list-card {
    background-color: #fff; /* Fundo branco para o cartão */
    border: 1px solid #ddd; /* Borda sutil para o cartão */
    border-radius: 5px; /* Bordas arredondadas */
    padding: 20px;
    width: %; /* Ajuste a largura conforme necessário */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.list-title {
    text-align: center; /* Centraliza o título do cartão */
    margin-bottom: 10px;
}

.list-group {
    list-style-type: none; /* Remove os marcadores de lista */
    padding: 0;
}

.list-group li {
    padding: 8px 0; /* Espaçamento vertical para cada item da lista */
    border-bottom: 1px solid #eee; /* Linha entre os itens */
}

.list-group li:last-child {
    border-bottom: none; /* Remove a borda do último item */
}



/* Estilização da página About*/ /*-------------------*/

/* ESTILIZAÇÃO DO TITULO E DESCRIÇÃO DOS GRÁFICOS */
.analysis-card {
    border: 1px solid #d2c0c0;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 20px;
    background-color: #0deb322f;
}

.analysis-title {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 8px;
}

.analysis-description {
    font-size: 1em;
    color: #000000;
}

/* ESTILIZAÇÃO DO TITULO E DESCRIÇÃO DOS GRÁFICOS */ /*-------------------*/

/* Estilização do botão de upload */
#upload-data {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 20px;
}

#upload-data .button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    border: none;
    transition: background-color 0.3s ease;
}

#upload-data .button:hover {
    background-color: #0056b3;
}